name: CI

on:
  pull_request:
    branches:
      - main
      - developing
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.yml'
      - '**/*.yaml'
      - '**/*.json'

    branches:
      - main
      - developing

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: valuables-app
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Get dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: flutter test

  # build:
  #   name: Build & Release
  #   needs: test
  #   if: github.ref == 'refs/heads/main'
  #   runs-on: macos-latest
  #   defaults:
  #     run:
  #       working-directory: valuables-app
  #   steps:
  #     - uses: actions/checkout@v4

  #     - uses: actions/setup-java@v3
  #       with:
  #         distribution: 'zulu'
  #         java-version: '17'

  #     - uses: subosito/flutter-action@v2
  #       with:
  #         channel: stable

  #     - name: Get dependencies
  #       run: flutter pub get

  #     - name: Build Android APK
  #       run: flutter build apk --release --split-per-abi

  #     - name: Build iOS
  #       run: |
  #         flutter build ios --no-codesign
  #         cd build/ios/iphoneos
  #         mkdir Payload
  #         cd Payload
  #         ln -s ../Runner.app
  #         cd ..
  #         zip -r app.ipa Payload

  #     - name: Push to Releases
  #       uses: ncipollo/release-action@v1
  #       with:
  #         artifacts: "valuables-app/build/app/outputs/apk/release/*,valuables-app/build/ios/iphoneos/app.ipa"
  #         tag: v1.0.${{ github.run_number }}
  #         token: ${{ secrets.TOKEN }}
